* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  top: 0;
}
.image {
  width: 150px;
  padding: 10px;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.link {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px 13px 10px;
  color: #4a4a4a;
  text-decoration: none;
}

.main {
  width: 100vw;
  background-color: #3cdbc0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  word-spacing: 100vw;
  font-weight: bold;
  text-transform: capitalize;
}

@media all and (min-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 40px;
  }
  .link {
    padding-bottom: 0;
  }
}
